.announcements-wrapper {
    background-color: #182f48;
    min-height: 90vh;
}
.text-announcements {
    text-align: center;
    color: white;
    padding: 5px;
}





.all-and-chosen {
    display: flex;

}
.all-users {
    border-radius: 10px;
    width: 50%;
    background-color: #e3e3e3;
    min-width: 520px;
}
.w50 {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}