.users-name-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    border: #292929 solid 1px;

}
.user-name {
    margin: 5px;
}
.users-name-wrapper:hover {
    background-color: #bcbbbb;
}