.btn-edit {
    background-color: #9b8933;
    border-radius: 5px;
    font-size: 15px;
    height: 35px;
    margin: 10px 10px 0;
    padding: 5px;
    width: 70px;
}
.btn-edit:hover {
    background-color: #796a25;
    color: whitesmoke;
}