.btn-details {
    background-color: #5d89d0;
    border-radius: 5px;
    font-size: 15px;
    height: 35px;
    margin-right: 10px;
}
.btn-details:hover {
    background-color: #467bcd;
    color: whitesmoke;
}