.chosen-user {
    border-radius: 10px;
    width: 70%;
    min-width: 360px;
    margin: 0 auto 25px;
    background-color: #e3e3e3;
    padding: 20px;
    font-size: 20px;
}
.fs25{
    font-size: 25px;
}
.fs14 {
    font-size: 14px;
}
.hr {
    color: #bcbbbb;
    margin: 4px;
}
.chosen__btn_wrapper {
    display: flex;
    justify-content: flex-end;
}