.home-wrapper {
    background-color: #3e3e3e;
    min-height: 90vh;
}
.text-home {
    text-align: center;
    color: white;
    padding: 5px;
}
.img-wrapper {
    background-color: #292929;
    padding: 50px;
    text-align: center;
}
.body-img {
    height: 60vmin;
    pointer-events: none;
    margin: auto;
}