.announcement-wrapper {
    width: 80%;
    background-color: #e3e3e3;
    margin: 7px auto;
    border-radius: 10px;
    padding: 10px;
}
.announcement-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.announcement-wrapper:hover {
    background-color: #c6c6c6;
}
.title{
    font-size: 20px;
}
.btn {
    background-color: #5d89d0;
    border-radius: 5px;
    font-size: 15px;
    height: 40px;
    width: 80px;
}
.red {
    background-color: #9b3333;
}
.red:hover {
    background-color: #792525;
    color: whitesmoke;
}
.blue {
    background-color: #5d89d0;
    margin-right: 10px;
}
.blue:hover {
    background-color: #467bcd;
    color: whitesmoke;
}
.yellow {
    background-color: #9b8933;
    margin-right: 10px;
}
.yellow:hover {
    background-color: #796a25;
    color: whitesmoke;
}
.description {
    margin: 25px 15px 20px;
}
.time {
    display: flex;
    justify-content: flex-end;
}
.time-items {
    margin-left: 30px;
    font-size: 12px;
}
